{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>{{ post.title }} | Platzigram</title>
{% endblock head_content %}

{% block container %}
<div class="container my-5">

  <div class="row post-container">
    <div class="col-12 col-lg-6 p-3">
      <img
        src="{{ post.photo.url }}"
        alt="{{ post.title }}"
        class="post-detail-image"
      />
    </div>

    <div class="col-12 col-lg-6 media container p-3 ps-0 position-relative">
      <div class="d-block">
        <a
        href="{% url 'users:user_detail' post.user.username %}"
        class="d-flex align-items-center"
        >
        <img
          class="rounded-circle"
          height="40"
          src="
          {% if post.user.profile.picture %}
          {{ post.user.profile.picture.url }}
          {% else %}
          {% static 'img/default-profile.png' %}
          {% endif %}"
          alt="{{ post.user.get_full_name }}"
          />
          <p class="m-0 username">{{ post.user.username }}</p>
        </a>
      </div>
      <hr>
      <h4>
        {{ post.title }}
      </h4>
      <hr>
      <h6>Comments {{ post.comments }}</h6>
      <div class="post-detail mb-4">
        <hr>
        <p class="m-0">
          <i class="far fa-heart me-1" style="color: #000; font-size: 20px"></i>
          30 likes - {{ post.created }}
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock container%}
