{% extends "base.html" %}
{% load static %}

{% block container %}

<div class="container">
  <div class="row">

    {% if messages %}
      <ul class="messages list-unstyled">
      {% for message in messages %}
        <li class="alert alert-success">
        {% if message.tags %}
          {{ message }}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% for post in posts %}

    <div class="col-sm-12 col-md-8 mt-5 offset-md-2 post-container">
      <div class="media pt-3 ps-3 pb-1">

        <a href="{% url 'users:user_detail' post.user.username %}">
          <img
          class="me-3 rounded-circle"
          height="35"
          src="
            {% if user.profile.picture %}
              {{ user.profile.picture.url }}
            {% else %}
              {% static 'img/default-profile.png' %}
            {% endif %}"
          alt="{{ post.user.get_full_name }}"
          />
        </a>
        <div class="media-body">
          <p style="margin-top: 5px">{{ post.user.get_full_name }}</p>
        </div>
      </div>
      <img
        style="width: 100%"
        src="{{ post.photo.url }}"
        alt="{{ post.title }}"
      />
      <h6 class="ms-1 mt-1 mb-3">{{ post.title }}</h6>
      <p class="mt-1 ms-2 mb-2">
        <i class="far fa-heart" style="color: #000; font-size: 20px"></i>
        30 likes
      </p>
      <p class="ms-2 mt-0 mb-2">
        - <small>{{post.created}}</small>
      </p>
    </div>

    {% endfor %}

  </div>
</div>

{% endblock container %}
