{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block container %}

{% if messages %}
  {% for m in messages %}
    <div class="message">
      <p>{{ m }}</p>
      <svg height="14px" id="message-close" version="1.1" viewBox="0 0 512 512" width="14px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
    </div>
    <script src="{% static 'js/close.js' %}"></script>
  {% endfor %}
{% endif %}

{% for post in posts %}

<div class="post">
  <div class="post_user">
    <a href="{% url 'users:user_detail' post.user.username %}">
      <img
        class="user-img"
        src="
        {% if post.user.profile.picture %}
          {{ post.user.profile.picture.url }}
        {% else %}
          {% static 'img/default-profile.png' %}
        {% endif %}"
        alt="{{ post.user.get_full_name }}"
      />
      <p class="post_username">{{ post.user.username }}</p>
    </a>
  </div>
  <div class="post_img">
    <a href="{% url 'posts:post_detail' post.id %}">
      <img
      src="{{ post.photo.url }}"
      alt="{{ post.title }}"
      />
    </a>
  </div>
  <p class="post_title">{{ post.title }}</p>
  <div class="post_info">
    <form method="POST" class="" action="{% url 'posts:like' post.id %}">
      {% csrf_token %}
      <button type="submit" class="post_info-button">
        {% if user in post.likes.all %}
          <i class="far fa-heart liked"></i>
        {% else %}
          <i class="far fa-heart"></i>
        {% endif %}
      </button>
    </form>
    <p class="">{{ post.count_likes }} like{{post.count_likes|pluralize }} - {{ post.created|naturaltime }}</p>
  </div>
</div>

{% endfor %}

{% include "pagination.html" %}

{% endblock container %}
