{% extends "base.html" %}

{% block head_content %}
<title>Create a new post</title>
{% endblock head_content %}

{% block container %}

<div class="post new-post">
  <h2 class="">Post a new photo!</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="new-title">
      <input
        autofocus
        class="{% if form.title.errors %}is-invalid{% endif %}"
        type="text"
        name="title"
        placeholder="Title"
      ></input>
      {% for error in form.title.errors %}
        <p class="error">
          {{ error }}
        </p>
      {% endfor %}
    </div>

    <div class="new-photo">
      <label>Choose your photo:</label>
      <input
        class="{% if form.photo.errors %}is-invalid{% endif %}"
        type="file"
        name="photo"
      />
      {% for error in form.photo.errors %}
        <p class="error">
          {{ error }}
        </p>
      {% endfor %}

      <button type="submit" class="button" id="publish-button">Publish!</button>
    </div>

  </form>
</div>

{% endblock container %}
