html,
body {
  background: #fafafa;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
#auth-container {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
}
#base-container {
  margin-top: 80px;
}
#main-navbar {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}
.user-container {
  margin-bottom: -4px;
}
.post-container {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.comment-user-container {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.comment-user-container p {
  margin: 0 4px;
}
.comment-user-container img {
  width: 24px;
  object-fit: cover;
}
.comments {
  margin-top: -6px;
  max-height: 56vh;
  overflow: auto;
  overflow-x: hidden;
}
.comments h4 {
  background: white;
  padding-bottom: 6px;
}
.comments form {
  background: white;
}
.nav-icon a {
  color: #262626;
  font-size: 1.3em;
  display: block;
  margin-top: 0.2em;
  margin-left: 1.2em;
  font-weight: 100;
}
.nav-icon a:hover {
  color: #1d5e72;
}
.user-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.sm-user-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.detail-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
a:active,
a:visited,
a:link {
  text-decoration: none;
}
.username {
  color: #262626;
  font-weight: 700;
  padding-left: 8px;
}
.errorlist {
  color: #dc3545;
  padding: 0;
}
.errorlist li::before {
  content: "· ";
  color: #dc3545;
}
#profile-box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 1px;
  margin-top: 4em;
}
#user-posts #post-thumb {
  background: #fff;
}
