/* Base */
:root {
  --red: #f24444;
  --error-red: #d42230;
  --blue: #298edb;
  --soft-blue: #a8eeff;
  --pastel-blue: #206b82;
  --white: #fff;
  --off-white: #ebebeb;
  --green: #aec999;
  --light-green: #c4dfb8;
  --dark-green: #3c763d;
  --grey: #c3c3c3;
  --dark-grey: #5a5a5a;
  --black: #121010;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: inline-block;
}
a,
a:active,
a:visited,
a:link {
  height: inherit;
  text-decoration: none;
  color: var(--black);
}
textarea {
  resize: none;
}

/* Body */
body {
  position: absolute;
  width: 100%;
  min-width: 320px;
  background-color: var(--off-white);
}
#base-container {
  top: 60px;
  display: block;
  padding: 8px;
  width: 100%;
}

/* Navbar */
#navbar {
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  width: 100%;
  padding: 10px 16px;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey);
}
.nav-left,
.nav-left img {
  height: 40px;
  width: 124px;
}
.nav-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  width: 180px;
  height: 40px;
}
.nav-right .nav-svg {
  width: 40px;
  height: 40px;
}
.nav-right i {
  font-size: 24px;
  margin: 8px;
}
.nav-right img {
  margin-left: 8px;
}
.nav-right svg {
  height: 40px;
  width: 40px;
  padding: 8px 8px 12px;
  fill: var(--black);
}
.nav-right a:hover, .nav-right svg:hover {
  color: var(--pastel-blue);
  fill: var(--pastel-blue);
}

/* Main */
.post {
  width: 100%;
  max-width: 920px;
  margin: 0 auto 4px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 8px;
}
.post_user {
  margin: 8px;
  height: 40px;
}
.post_user a {
  display: flex;
  align-items: center;
}
.post_username {
  display: inline-block;
  margin-left: 6px;
  font-weight: 500;
}
.post_img {
  display: flex;
  justify-content: center;
  margin: 0 8px 4px;
  max-height: 480px;
}
.post_img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 480px;
  border-radius: 4px;
}
.post_title {
  margin: 0 8px;
  font-size: 1.125em;
  font-weight: 500;
}
.post_info {
  padding: 8px;
}
.post_info form {
  display: inline-block;
}
.post_info-button {
  border: none;
  background-color: var(--white);
}
.post_info-button:hover {
  cursor: pointer;
}
.post_info-button i {
  font-size: 18px;
  font-weight: 700;
}
.liked {
  color: var(--red);
}
.post_info p {
  display: inline-block;
}
.new-post {
  position: relative;
  max-width: 720px;
  height: 360px;
  padding: 32px;
  margin-top: 40px;
}
.new-title {
  margin: 12px 0;
}
.new-title input {
  padding: 12px;
  width: 100%;
  font-size: 20px;
  border: 1px solid var(--grey);
  border-radius: 8px;
}
.new-title input::placeholder {
  font-size: 20px;
}
.new-photo label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}
#publish-button {
  position: absolute;
  width: calc(100% - 64px);
  bottom: 0;
  left: 0;
  margin: 0 0 32px 32px;
  padding: 12px;
  font-size: 18px;
}
.post-detail .post_img {
  margin: 8px;
}
.post-detail_interaction {
  position: relative;
}
.post-detail_interaction .post_user {
  margin-top: 0;
}
.post-detail_interaction .post_info {
  position: relative;
  bottom: 0;
  padding-top: 0;
}
.comments {
  position: relative;
  margin: 8px;
  padding: 4px 0 0;
  max-height: 444px;
  overflow: auto;
  overflow-x: hidden;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}
.comment {
  padding: 8px 8px 4px;
  margin: 4px 0;
  border: 1px solid var(--grey);
  border-radius: 8px;
  font-size: 14px;
}
.comment p {
  font-size: 1rem;
}
.comment-user-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.comment-user-container p {
  padding-left: 4px;
  font-size: 0.9em;
}
.write-comment {
  position: sticky;
  bottom: 0;
  padding: 4px 0;
  background-color: var(--white);
  width: 100%;
}
.write-comment_form {
  margin-bottom: 2px;
  padding: 8px;
  border: 1px solid var(--grey);
  border-radius: 8px;
  width: 100%;
}
.button {
  width: 100%;
  padding: 6px;
  color: var(--white);
  border: 0;
  border-radius: 6px;
  background-color: var(--blue);
}
.button:hover {
  cursor: pointer;
}

/* User profile */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
.profile-img {
  padding-bottom: 8px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}
.profile-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: transparent;
}
.profile-btn {
  margin-left: 16px;
  padding: 6px 8px;
  color: var(--blue);
  font-weight: 500;
  border: 2px solid var(--blue);
  border-radius: 4px;
}
.profile-btn-blue {
  color: var(--white);
  background-color: var(--blue);
}
.profile-btn-pastel {
  color: var(--white);
  border: 2px solid var(--pastel-blue);
  background-color: var(--pastel-blue);
}
.profile-interaction {
  display: flex;
  margin-bottom: 8px;
}
.profile-interaction div {
  margin: 4px;
}
.profile-bio {
  align-self: start;
  line-height: 1.4;
}
.profile-bio_p {
  margin-bottom: 12px;
}
.user-posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 32vw));
  grid-auto-rows: minmax(100px, 32vw);
  gap: 4px;
  margin: 0 auto;
  max-width: 920px;
  justify-content: center;
  padding-top: 12px;
  border-top: 1px solid var(--grey);
}
.user-posts .posts {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
}
.user-posts .posts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Auth */
.auth-container * {
  width: 100%;
}
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: 80px auto;
  padding: 40px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 8px;
}
.auth-update-pic {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey);
}
.auth-update-pic div {
  margin-left: 8px;
}
.auth-update-pic div h5 {
  margin-bottom: 4px;
}
.auth-img {
  max-width: 60%;
}
.auth-container form {
  padding: 16px 0;
}
.auth-input {
  height: 40px;
  padding: 12px 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid var(--grey);
  font-size: 1em;
}
.auth-bio-fields {
  margin-top: 16px;
}
.auth-bio-fields textarea {
  height: auto;
}
.auth-p {
  padding: 8px 0;
  font-size: 0.9em;
  color: var(--dark-grey);
  border-top: 1px solid var(--grey);
}
.auth-p a {
  color: var(--blue);
}
.auth-btn {
  height: 40px;
  font-size: 1rem;
}
.auth-btn-up {
  color: var(--white);
  background-color: var(--dark-green);
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

/* Images */
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.sm-user-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}
.big-user-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}

/* Messages */
.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 920px;
  margin: 8px auto;
  padding: 12px;
  color: var(--dark-green);
  background-color: var(--light-green);
  border: 1px solid var(--green);
  border-radius: 8px;
  justify-self: start;
  align-self: flex-start;
}
.message p {
  font-size: 0.9em;
}
.message svg {
  fill: var(--dark-green);
  cursor: pointer;
}
.is-invalid {
  border: 1px solid var(--error-red);
  border-radius: 4px;
}
.is-invalid:focus-visible {
  outline: 1px solid var(--error-red);
}

/* Footer */
.pagination-container {
  width: 100%;
  max-width: 920px;
  margin: 12px auto;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
}
.pagination-item {
  margin-left: 2px;
  padding: 8px;
  background-color: var(--pastel-blue);
  border: 1px solid var(--pastel-blue);
  border-radius: 8px;
}
.pagination-link,
.pagination-link:link,
.pagination-link:active,
.pagination-link:visited {
  font-size: 0.9em;
  color: var(--white);
}

/* Errors */
.error,
.errorlist {
  color: var(--error-red);
  margin: 8px 0;
}
.error::before,
.errorlist li::before {
  content: "· ";
  color: var(--error-red);
}
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 520px;
  margin: 20vh auto;
  padding: 40px;
}
.error-page h1 {
  font-size: 8em;
}
.error-page p {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
.error-page a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 8px 16px;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 8px;
}
.error-page svg {
  height: 24px;
  width: 24px;
  margin-bottom: 6px;
  margin-right: 6px;
  fill: var(--white);
}
div .is-invalid {
  border: 1px solid var(--error-red);
  border-radius: 4px;
}

/* Media query */
@media (min-width: 769px) {
  body {
    font-size: 1.1rem;
  }
  .post-detail {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    max-height: 80vh;
  }
  .post-detail .post_img {
    display: grid;
    place-content: center;
  }
  .post-detail_interaction .post_info {
    padding-left: 0;
  }
  .post-detail_interaction .post_user,
  .post-detail_interaction .post_title {
    margin-top: 8px;
    margin-left: 0;
    padding-left: 0;
  }
  .user-posts {
    grid-auto-rows: minmax(100px, 304px);
  }
  .comments {
    margin-left: 0;
  }
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .profile-user,
  .profile-bio {
    padding-left: 4px;
  }
  .profile-info {
    margin: 0 16px;
    align-items: start;
  }
  .auth-container {
    padding: 40px 52px;
  }
}
