{% load static %}

<nav id="navbar">
  <div class="nav-right">
    <a href="{% url 'posts:feed' %}">
      <img src="{% static "img/platzigram.png" %}"
      alt="Platzigram logo">
    </a>
  </div>

  <div class="nav-left">
    <a href="{% url 'users:logout' %}">
      <abbr title="Logout">
        <i class="fas fa-sign-out-alt"></i>
      </abbr>
    </a>

    <a href="{% url 'posts:new_post' %}">
      <abbr title="Create a post">
        <i class="fas fa-plus"></i>
      </abbr>
    </a>

    <a href="{% url 'users:user_detail' request.user.username %}">
      <abbr title="User profile">
        <img
        src="
        {% if request.user.profile.picture %}
        {{ request.user.profile.picture.url }}
        {% else %}
        {% static 'img/default-profile.png' %}
        {% endif %}"
        alt="User image"
        class="user-img"
        />
      </abbr>
    </a>
  </div>
</nav>
