{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}

{% block container %}
<div class="container mb-5" style="margin-top: 5.4em">
  <div class="row">

    {% if messages %}
      <ul class="messages list-unstyled mb-4">
      {% for message in messages %}
        <li class="alert alert-success m-0">
        {% if message.tags %}
          {{ message }}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    <div class="col-sm-4 d-flex justify-content-center">
      <img
        src="
          {% if user.profile.picture %}
            {{ user.profile.picture.url }}
          {% else %}
            {% static 'img/default-profile.png' %}
          {% endif %}"
        alt="@{{ user.username}}"
        class="rounded-circle user-image"
      />
    </div>

    <div class="col-sm-8">
      <h2 style="font-weight: 100">
        {{ user.username }}
        {% if user == request.user %}
          <a href="{% url 'users:update_profile' %}" class="ms-2 btn btn-sm btn-outline-info">
            Edit profile
          </a>
        {% else %}
          {% if user not in request.user.profile.following %}
            <a href="{% url 'users:follow' user %}" class="ms-2 btn btn-sm btn-primary">
              Follow
            </a>
          {% else %}
            <a href="{% url 'users:unfollow' user %}" class="ms-2 btn btn-sm btn-info">
              Unollow
            </a>
          {% endif %}
        {% endif %}
      </h2>
      <div class="row mt-2" style="font-size: 1.2em">
        <div class="col-sm-4">
          <b>{{ user.profile.posts.count }}</b> posts
        </div>
        <div class="col-sm-4">
          <b>{{ user.profile.followers.count }}</b> followers
        </div>
        <div class="col-sm-4">
          <b>{{ user.profile.following.count }}</b> following
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12">
          <p>{{ user.profile.website }}</p>
          <p>{{ user.profile.biography }}</p>
          <p>{{ user.profile.phone_number }}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<hr />

<div class="container" id="user-posts">
  <div class="row mt-3">
      {% for post in posts %}
      <div class="col-sm-6 col-lg-4 col-xl-3 p-2 d-flex justify-content-center align-items-center">
          <a href="{% url 'posts:post_detail' post.id %}" class="border">
              <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-fluid detail-image"/>
          </a>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock container %}
