{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}

{% block container %}
<div class="profile">

    {% if messages %}
      <ul class="">
      {% for message in messages %}
        <li class="">
        {% if message.tags %}
          {{ message }}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    <div class="profile-img">
      <img
        class="big-user-img"
        src="
          {% if user.profile.picture %}
            {{ user.profile.picture.url }}
          {% else %}
            {% static 'img/default-profile.png' %}
          {% endif %}"
        alt="@{{ user.username}}"
      />
    </div>

    <div class="profile-info">
      <div class="profile-user">
        <h3>
          {{ user.username }}
        </h3>

        {% if user == request.user %}
          <button class="profile-btn profile-btn-pastel">
            <a href="{% url 'users:update_profile' %}">
              Edit profile
            </a>
          </button>
        {% else %}
          {% if user not in request.user.profile.following %}
            <button class="profile-btn profile-btn-blue">
              <a href="{% url 'users:follow' user %}">
                Follow
              </a>
            </button>
          {% else %}
            <button class="profile-btn">
              <a href="{% url 'users:unfollow' user %}">
                Unfollow
              </a>
            </button>
          {% endif %}
        {% endif %}
      </div>

      <div class="profile-interaction">
        <div class="">
          <b>{{ count_posts }}</b> post{{ count_posts|pluralize }}
        </div>
        <div class="">
          <b>{{ user.profile.followers.count }}</b> follower{{ user.profile.followers.count|pluralize }}
        </div>
        <div class="">
          <b>{{ user.profile.following.count }}</b> following
        </div>
      </div>
      <div class="profile-bio">
        <p><b>{{ user.profile }}</b></p>
        {% if user.profile.biography %}
          <p class="profile-bio_p">{{ user.profile.biography }}</p>
        {% endif %}
        {% if user.profile.phone_number %}
          <p><b>Phone:</b> {{ user.profile.phone_number }}</p>
        {% endif %}
        {% if user.profile.website %}
          <p><b>Website:</b> {{ user.profile.website }}</p>
        {% endif %}
      </div>
    </div>

</div>

<div id="user-posts">
  {% for post in posts %}
    <div class="posts">
      <a href="{% url 'posts:post_detail' post.id %}">
        <img src="{{ post.photo.url }}" alt="{{ post.title }}"/>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock container %}
