{% extends "base.html" %}
{% load static %}

{% block container %}

<div class="auth-container">
  <img
    class="auth-img"
    src="{% static 'img/platzigram.png' %}"
    alt="platzigram image"
  />

  <form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}

    <input
      placeholder="Username"
      type="username"
      class="auth-input"
      id="InputUsername"
      aria-describedby="emailHelp"
      name="username"
    />

    <input
      placeholder="Password"
      type="password"
      class="auth-input"
      id="InputPassword"
      name="password"
    />

    {% if form.errors %}
      <p class="error">Your username or password didn't match, please try again</p>
    {% endif%}

    <button type="submit" class="button auth-btn">Sign in</button>
  </form>
  <p class="auth-p">Don't have an account yet?, Create one</p>
  <a href="{% url 'users:signup' %}">
    <button class="auth-btn auth-btn-up">Sign up</button>
  </a>
</div>

{% endblock container %}
