{% extends "base.html" %}
{% load static %}

{% block container %}

<div class="row justify-content-center align-middle">
  <div class="col-sm-12 col-md-6 col-lg-6 p-5" id="auth-container">
    <img
      src="{% static 'img/platzigram.png' %}"
      alt="platzigram image"
      class="img-fluid rounded mx-auto d-block pb-2"
      style="max-width: 60%"
    />

    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}

      {{ form.as_p }}

      <button type="submit" class="btn btn-primary w-100">Sign up</button>
    </form>
  </div>
</div>

{% endblock container %}
