{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}

<div class="auth-container">
  <form
    method="POST"
    enctype="multipart/form-data"
    action="{% url 'users:update_profile' %}"
  >

    {% csrf_token %}

    <div class="auth-update-pic">
      {% if profile.picture %}
        <img src="{{ profile.picture.url }}" class="user-img" />
      {% else%}
        <img src="{% static 'img/default-profile.png' %}" class="user-img" />
      {% endif %}
      <div>
        <h5>{{user.get_full_name}} | @{{ user.username }}</h5>
        <input type="file" name="picture" />
      </div>
    </div>
    {% if form.picture.errors %}
      <ul class="errorlist">
        {% for error in form.picture.errors %}
          <li>
            {{ error }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="auth-bio-fields">
      <label>Website</label>
      <input
        class="auth-input {% if form.website.errors %}is-invalid{% endif %}"
        type="text"
        name="website"
        placeholder="www.example.com"
        value="{% if form.errors %}{{ form.website.value }}{% else %}{{ profile.website }}{% endif %}"
      />
      {% if form.website.errors %}
        <ul class="errorlist">
          {% for error in form.website.errors %}
            <li>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <label>Biography</label>
      <textarea
        required
        class="auth-input {% if form.biography.errors %}is-invalid{% endif %}"
        name="biography"
        placeholder="Tell us about you"
        rows="2"
      >{% if form.errors %}{{ form.biography.value }}{% else %}{{ profile.biography }}{% endif %}</textarea
      >
      {% if form.biography.errors %}
        <ul class="errorlist">
          {% for error in form.biography.errors %}
            <li>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <label>Phone number</label>
      <input
        class="auth-input {% if form.phone_number.errors %}is-invalid{% endif %}"
        type="text"
        name="phone_number"
        value="{% if form.errors %}{{ form.phone_number.value }}{% elif profile.phone_number %}{{ profile.phone_number }}{% else %}{{ profile.id }}{% endif %}"
      />
      {% if form.phone_number.errors %}
        <ul class="errorlist">
          {% for error in form.phone_number.errors %}
            <li>
              {{ error }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <button type="submit" class="button auth-btn">Update info</button>
    </div>

  </form>
</div>

{% endblock container %}
